node_modules/
.env
dist/
.DS_Store
*.log
.vscode/
build/
bin/
obj/
out/
debug/
release/
x64/
x86/
*.suo
*.user
*.bak
*.tmp
*.temp
/webapp/node_modules/
/bot/node_modules/
/webapp/dist/
*.db
*.db-shm
*.db-wal
error_log.txt
status.txt
bot/result.txt
bot/db_res.txt
/bot/config/dev.json
/bot/config/production.json
