# Required: Get this from t.me/BotFather
BOT_TOKEN=YOUR_BOT_TOKEN_HERE

# Required: The HTTPS URL of your frontend (Update this after starting ngrok)
WEBAPP_URL=https://your-ngrok-url.ngrok-free.dev

# Admin User ID (Find your ID using @userinfobot)
SUPERADMIN_ID=12345678
https://localhost:5173

# Optional: Only needed for production
WEBHOOK_URL=https://yourserver.com/webhook
PORT=3000
